.App{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
}

.container{
  background-color: rgb(255, 254, 188);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(104, 103, 103);
  box-shadow: 8px 10px #adadad;
}

.button-pink{
  color: white;
  background-color: rgb(52, 87, 202);
  text-decoration: none;
  border-radius: 10px;
  margin-left: 10px;
}

.text{
  text-decoration: none;
}